flows (1) (1).json
[{"id":"1b4ca88f.f58dc7","type":"tab","label":"Life_Expectency_Node_Red_Flow","disabled":false,"info":""},{"id":"1658dca4.ef0cd3","type":"http request","z":"1b4ca88f.f58dc7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[["58a24405.7e1e2c"]]},{"id":"58a24405.7e1e2c","type":"function","z":"1b4ca88f.f58dc7","name":"Pre Prediction","func":"var Country= global.get('Country')\nvar Year= global.get('Year')\nvar Status= global.get('Status')\nvar Adult_Mortality= global.get('Adult_Mortality')\nvar infant_deaths= global.get('infant_deaths')\nvar Alcohol= global.get('Alcohol')\nvar percentage_expenditure= global.get('percentage_expenditure')\nvar Hepatitis_B= global.get('Hepatitis_B')\nvar Measles = global.get('Measles')\nvar BMI = global.get('BMI')\nvar under_five_deaths = global.get('under_five_deaths')\nvar Polio= global.get('Polio')\nvar Total_expenditure= global.get('Total_expenditure')\nvar Diphtheria = global.get('Diphtheria')\nvar HIV_AIDS= global.get('HIV_AIDS')\nvar GDP= global.get('GDP')\nvar Population= global.get('Population')\nvar thinness_1_19_years= global.get('thinness_1_19_years')\nvar thinness_5_9_years= global.get('thinness_5_9_years')\nvar Income_composition_of_resources= global.get('Income_composition_of_resources')\nvar Schooling= global.get('Schooling')\nvar token=msg.payload.access_token\nvar instance_id=\"85726a8f-788c-44f3-9d8a-2124407cdd39\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult_Mortality\",\"infant_deaths\", \"Alcohol\",\n\"percentage_expenditure\", \"Hepatitis_B\",\"Measles\", \"BMI\", \"under_five_deaths\", \"Polio\",\"Total_expenditure\", \"Diphtheria\",\n\"HIV_AIDS\", \"GDP\", \"Population\",\"thinness_1_19_years\", \"thinness_5_9_years\",\n\"Income_composition_of_resources\",\"Schooling\"],\n\"values\": [[Country, Year, Status,Adult_Mortality,infant_deaths,Alcohol,\npercentage_expenditure, Hepatitis_B,Measles,BMI,under_five_deaths,Polio,Total_expenditure,Diphtheria,\nHIV_AIDS, GDP,Population,thinness_1_19_years,thinness_5_9_years,\nIncome_composition_of_resources,Schooling]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["ee785741.1758b8","1d3e4c73.603d34"]]},{"id":"ee785741.1758b8","type":"http request","z":"1b4ca88f.f58dc7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/89f9c746-667f-45ee-9c89-3260865b2c6a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":140,"wires":[["c4ec49aa.dac4d8"]]},{"id":"ffdbce92.03313","type":"ui_text","z":"1b4ca88f.f58dc7","group":"8cb99b9.c558268","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":40,"wires":[]},{"id":"c4ec49aa.dac4d8","type":"function","z":"1b4ca88f.f58dc7","name":"Predicted Value","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":60,"wires":[["ffdbce92.03313","1e6f9516.05123b"]]},{"id":"ae91692b.9f5608","type":"ui_form","z":"1b4ca88f.f58dc7","name":"Life Expectancy Label","label":"","group":"8cb99b9.c558268","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI ","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":100,"y":280,"wires":[["3a6f76a0.ea56ea"]]},{"id":"3a6f76a0.ea56ea","type":"function","z":"1b4ca88f.f58dc7","name":"Pre Token","func":"global.set(\"Country\",msg.payload.a)\nglobal.set(\"Year\",msg.payload.b)\nglobal.set(\"Status\",msg.payload.c)\nglobal.set(\"Adult_Mortality\",msg.payload.d)\nglobal.set(\"infant_deaths\",msg.payload.e)\nglobal.set(\"Alcohol\",msg.payload.f)\nglobal.set(\"percentage_expenditure\",msg.payload.g)\nglobal.set(\"Hepatitis_B\",msg.payload.h)\nglobal.set(\"Measles\",msg.payload.i)\nglobal.set(\"BMI\",msg.payload.j)\nglobal.set(\"under_five_deaths\",msg.payload.k)\nglobal.set(\"Polio\",msg.payload.l)\nglobal.set(\"Total_expenditure\",msg.payload.m)\nglobal.set(\"Diphtheria\",msg.payload.n)\nglobal.set(\"HIV_AIDS\",msg.payload.o)\nglobal.set(\"GDP\",msg.payload.p)\nglobal.set(\"Population\",msg.payload.q)\nglobal.set(\"thinness_1_19_years\",msg.payload.r)\nglobal.set(\"thinness_5_9_years\",msg.payload.s)\nglobal.set(\"Income_composition_of_resources\",msg.payload.t)\nglobal.set(\"Schooling\",msg.payload.u)\nvar apikey=\"Mi-N-4QCb7aJc_soXC4SJDSYTc5nEwsWGfwufVom-Owd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["1658dca4.ef0cd3"]]},{"id":"1e6f9516.05123b","type":"debug","z":"1b4ca88f.f58dc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":140,"wires":[]},{"id":"1d3e4c73.603d34","type":"debug","z":"1b4ca88f.f58dc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":360,"wires":[]},{"id":"8cb99b9.c558268","type":"ui_group","z":"","name":"Life Expectancy","tab":"4c91d5f9.327a7c","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c91d5f9.327a7c","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","disabled":false,"hidden":false}]